@*<!DOCTYPE html>
    <html>
    <head>
        <style>
            body {
                background-image: url('~/images/1.jpg');
            }

            .table th, .table td {
                padding: 0.15rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
            }
        </style>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Tution Management </title>

        <div>
            <div>
                <environment include="Development">
                    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
                </environment>
            </div>
        </div>

        <environment exclude="Development">
            <div>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                      crossorigin="anonymous"
                      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
            </div>
        </environment>

        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body style="border-bottom:0em;padding-bottom:0em">
        <header style="background-color: #004e64; color: white; padding-bottom: 0em">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div>
                    <div class="container">
                        <a class="navbar-brand" style="color:white" asp-area="" asp-controller="Home" asp-action="Index"> <text>Home</text> </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1" style="color:white">
                                @{
                                    if (this.User.Identity.IsAuthenticated)
                                    {
                                        var role = this.User.Claims.ElementAt(3).Value;

                                        if (role == "Admin")

                                        {
                                            <li><a asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                                            <li><a asp-action="Index" asp-controller="Contacts">Masseges</a></li>
                                        }
                                        else if (role == "Student")
                                        {
                                            <li><a asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                        }
                                        else if (role == "Teacher")
                                        {
                                            <li><a asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                            <li><a asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                        }
                                        <li>
                                            <a asp-action="Profile" asp-controller="Users">
                                                <i class='fas fa-user' style='font-size:15px'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@this.User.Identity.Name
                                            </a>
                                        </li>
                                        <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="Index" asp-controller="Home" ali>Home</a></li>
                                        <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                                        <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                                        <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                                    }
                                }
                            </ul>
                        </div>


                        @{
                            if (this.User.Identity.IsAuthenticated)
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item float-right">
                                        <a style="color:white" class="nav-link " asp-area="" asp-controller="Users" asp-action="LogOut"> <div>Log out</div></a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item float-right">
                                        <a class="nav-link " asp-area="" asp-controller="Users" asp-action="ViewLogIn"> <div>LogIn</div></a>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </nav>
        </header>
        <div class="row" style="background-color:ghostwhite ; padding-top:0em">

            <div class="col-12" style="margin: 0em; padding: 0em; padding-left: 2em; padding-right: 2em">
                @RenderBody()
            </div>
        </div>
    </body>
    </html>*@












@*<!DOCTYPE html>
    <html>
    <head>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Tution Management </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>


    <body>
        <nav class="navbar navbar-inverse b">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> සිසු නැණ </a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>

                    @{
                        if (this.User.Identity.IsAuthenticated)
                        {
                            var role = this.User.Claims.ElementAt(3).Value;

                            if (role == "Admin")

                            {
                                <li><a asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                                <li><a asp-action="Index" asp-controller="Contacts">Masseges</a></li>
                            }
                            else if (role == "Student")
                            {
                                <li><a asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            }
                            else if (role == "Teacher")
                            {
                                <li><a asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                <li><a asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                            }

                        }
                        else
                        {
                            <li><a asp-action="Index" asp-controller="Home" ali>Home</a></li>
                            <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                            <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                            <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <span class="glyphicon glyphicon-user"></span>
                            <i class='fas fa-user' style='font-size:15px'></i>&nbsp;@this.User.Identity.Name
                        </a>
                    </li>
                    <li><a asp-action="LogOut" asp-controller="Users"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>


        </nav>

        <div class="row" style="background-color:ghostwhite ; padding-top:0em">

            <div class="col-12" style="margin: 0em; padding: 0em; padding-left: 2em; padding-right: 2em">
                @RenderBody()
            </div>
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
    </html>*@





























@*<!DOCTYPE html>
    <html>
    <head>
        <style>
            body {
                background-image: url('~/images/1.jpg');
            }

            .table th, .table td {
                padding: 0.15rem;
                vertical-align: top;
                border-top: 1px solid #dee2e6;
            }
        </style>


        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Tution Management </title>

        <div>
            <div>
                <environment include="Development">
                    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
                </environment>
            </div>
        </div>

        <environment exclude="Development">
            <div>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
                      crossorigin="anonymous"
                      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
            </div>
        </environment>

        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body style="border-bottom:0em;padding-bottom:0em">
        <header style="background-color: #004e64; color: white; padding-bottom: 0em">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div>
                    <div class="container">
                        <a class="navbar-brand" style="color:white" asp-area="" asp-controller="Home" asp-action="Index"> <text>Home</text> </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1" style="color:white">
                                @{
                                    if (this.User.Identity.IsAuthenticated)
                                    {
                                        var role = this.User.Claims.ElementAt(3).Value;

                                        if (role == "Admin")

                                        {
                                            <li><a asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                                            <li><a asp-action="Index" asp-controller="Contacts">Masseges</a></li>
                                        }
                                        else if (role == "Student")
                                        {
                                            <li><a asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                        }
                                        else if (role == "Teacher")
                                        {
                                            <li><a asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                            <li><a asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                        }
                                        <li>
                                            <a asp-action="Profile" asp-controller="Users">
                                                <i class='fas fa-user' style='font-size:15px'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@this.User.Identity.Name
                                            </a>
                                        </li>
                                        <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="Index" asp-controller="Home" ali>Home</a></li>
                                        <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                                        <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                                        <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                                    }
                                }
                            </ul>
                        </div>


                        @{
                            if (this.User.Identity.IsAuthenticated)
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item float-right">
                                        <a style="color:white" class="nav-link " asp-area="" asp-controller="Users" asp-action="LogOut"> <div>Log out</div></a>
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item float-right">
                                        <a class="nav-link " asp-area="" asp-controller="Users" asp-action="ViewLogIn"> <div>LogIn</div></a>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </nav>
        </header>
        <div class="row" style="background-color:ghostwhite ; padding-top:0em">

            <div class="col-12" style="margin: 0em; padding: 0em; padding-left: 2em; padding-right: 2em">
                @RenderBody()
            </div>
        </div>
    </body>
    </html>*@




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ONEServices</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>
        body {
            font: 14px Montserrat, sans-serif;
            line-height: 1.8;
            /*color: #f5f6f7;*/
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 14px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 2px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

        .bg-2 {
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }

        .bg-4 {
            background-color: #2f2f2f; /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        .navbar li a, .navbar .navbar-brand {
            color: #303030;
        }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: #1abc9c !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b><h2>සිසු නැණ</h2></b></a> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @{
                            if (this.User.Identity.IsAuthenticated)
                            {
                                var role = this.User.Claims.ElementAt(3).Value;

                                if (role == "Admin")

                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Home" ali>Home</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Users">Students</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Contacts">Masseges</a></li>

                                }
                                else if (role == "Student")
                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Home" ali>Home</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Teachers" asp-controller="Users">Teachers</a></li>

                                }
                                else if (role == "Teacher")
                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Home" ali>Home</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Classes">Advertisements</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-action="Classes" asp-controller="Classes">Join Class</a></li>
                                }

                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link text-dark" asp-action="Index" asp-controller="Home" ali>Home</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item"><a class="nav-link text-dark"><span class="glyphicon glyphicon-user"></span> <i class='fas fa-user' style='font-size:15px'></i>&nbsp;@this.User.Identity.Name</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-action="LogOut" asp-controller="Users"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>

            </div>




        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ONEServices - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>















































































