@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName = User.Identity.Name;
}
@model IEnumerable<web_project.Models.Message>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGV9Jm2u7rmsCe65wKzPTw5jtS38n2tVEGi2yFNYwFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
</head>


<body>

    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">

                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Share Your Thoughts </span>
                                <p>17 Messages</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <div class="feature">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12" id="chat">
                                        @if (Model != null)
                                        {
                                            @foreach (var message in Model.OrderBy(m => m.When))
                                            {
                                                string containerClass, timePosition, textAlign, contcolor, offset;
                                                if (userName == message.UserName)
                                                {
                                                    containerClass = "container darker";
                                                    timePosition = "time-right text-light";
                                                    textAlign = "text-right text-white";
                                                    contcolor = "bg-primary";
                                                    offset = "col-md-6 offset-md-6";
                                                }
                                                else
                                                {
                                                    containerClass = "container";
                                                    timePosition = "time-left";
                                                    textAlign = "text-left";
                                                    contcolor = "bg-light";
                                                    offset = "";
                                                }
                                                <div class="row">
                                                    <div class="@offset">
                                                        <div class="img_cont_msg">
                                                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                                                        </div>
                                                        <div class="msg_cotainer @contcolor">
                                                            <p class="sender @textAlign">@message.UserName</p>
                                                            <p class="@textAlign">@message.Text</p>
                                                        </div>
                                                        <span class="@timePosition">@message.When.ToString("M/dd/yyyy hh:MM tt")</span>
                                                    </div>
                                                </div>}}
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="card-footer">
                        <div class="col-md-12">
                            <form asp-action="Create1"
                                  data-ajax-begin="clearInputField" data-ajax-complete=""
                                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                                  data-ajax="true" data-ajax-method="POST">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input name="Text" class="form-control type_msg" placeholder="Type your message..." id="messageText" required />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                                </div>
                                <input type="hidden" value="@userName" name="username" />
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <script>
                             const userName = "@ViewBag.CurrentUserName";
                                </script>
                            }
                        </div>
                    
                </div>
  
        </body>



















































                    <style>
                                                /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
                        for details on configuring this project to bundle and minify static web assets. */
                                                import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
                                                body {
                                                    font-family: 'Shadows Into Light', cursive;
                                                    font-size: 1.6em;
                                                }

                                                a.navbar-brand {
                                                    white-space: normal;
                                                    text-align: center;
                                                    word-break: break-all;
                                                }

                                                /* Sticky footer styles
                        -------------------------------------------------- */
                                                html {
                                                    font-size: 17px;
                                                }

                                                media (min-width: 768px) {
                                                    html

                                                {
                                                    font-size: 16px;
                                                }

                                                }

                                                .border-top {
                                                    border-top: 1px solid #e5e5e5;
                                                }

                                                .border-bottom {
                                                    border-bottom: 1px solid #e5e5e5;
                                                }

                                                .box-shadow {
                                                    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
                                                }

                                                button.accept-policy {
                                                    font-size: 1rem;
                                                    line-height: inherit;
                                                }

                                                /* Sticky footer styles
                        -------------------------------------------------- */
                                                html {
                                                    position: relative;
                                                    min-height: 100%;
                                                }

                                                body {
                                                    /* Margin bottom by footer height */
                                                    margin-bottom: 60px;
                                                }

                                                .footer {
                                                    position: absolute;
                                                    bottom: 0;
                                                    width: 100%;
                                                    white-space: nowrap;
                                                    /* Set the fixed height of the footer here */
                                                    height: 60px;
                                                    line-height: 60px; /* Vertically center the text there */
                                                }


                                                /* Chat containers */
                                                #chat .container {
                                                    border: 2px solid #dedede;
                                                    background-color: #f1f1f1;
                                                    border-radius: 30px;
                                                    padding: 10px;
                                                    margin: 10px 0;
                                                    width: 100%;
                                                    font-family: "Open Sans", serif;
                                                }

                                                #chat .sender {
                                                    font-size: 0.8em;
                                                    font-weight: bold;
                                                    font-family: 'Shadows Into Light', cursive;
                                                }

                                                /* Darker chat container */
                                                #chat .darker {
                                                    border-color: #fff;
                                                    background-color: #007bff;
                                                }

                                                /* Clear floats */
                                                #chat .container::after {
                                                    content: "";
                                                    clear: both;
                                                    display: table;
                                                }

                                                /* Style images */
                                                #chat .container img {
                                                    float: left;
                                                    max-width: 60px;
                                                    width: 100%;
                                                    margin-right: 20px;
                                                    border-radius: 50%;
                                                }

                                                    /* Style the right image */
                                                    #chat .container img.right {
                                                        float: right;
                                                        margin-left: 20px;
                                                        margin-right: 0;
                                                    }

                                                /* Style time text */
                                                #chat .time-right {
                                                    float: right;
                                                    color: #aaa;
                                                }

                                                /* Style time text */
                                                #chat .time-left {
                                                    float: left;
                                                    color: #999;
                                                }
           





                        body, html {
                            height: 100%;
                            margin: 0;
                            background: #7F7FD5;
                            background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
                            background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
                        }

                        .chat {
                            margin-top: auto;
                            margin-bottom: auto;
                        }

                        .card {
                            height: 700px;
                            width: 500px;
                            border-radius: 15px !important;
                            background-color: rgba(0,0,0,0.4) !important;
                        }

                        .contacts_body {
                            padding: 0.75rem 0 !important;
                            overflow-y: auto;
                            white-space: nowrap;
                        }

                        .msg_card_body {
                            overflow-y: auto;
                        }

                        .card-header {
                            border-radius: 15px 15px 0 0 !important;
                            border-bottom: 0 !important;
                        }

                        .card-footer {
                            border-radius: 0 0 15px 15px !important;
                            border-top: 0 !important;
                        }

                        .container {
                            align-content: center;
                        }

                        .search {
                            border-radius: 15px 0 0 15px !important;
                            background-color: rgba(0,0,0,0.3) !important;
                            border: 0 !important;
                            color: white !important;
                        }

                            .search:focus {
                                box-shadow: none !important;
                                outline: 0px !important;
                            }

                        .type_msg {
                            background-color: rgba(0,0,0,0.3) !important;
                            border: 0 !important;
                            color: white !important;
                            height: 60px !important;
                            overflow-y: auto;
                        }

                            .type_msg:focus {
                                box-shadow: none !important;
                                outline: 0px !important;
                            }

                        .attach_btn {
                            border-radius: 15px 0 0 15px !important;
                            background-color: rgba(0,0,0,0.3) !important;
                            border: 0 !important;
                            color: white !important;
                            cursor: pointer;
                        }

                        .send_btn {
                            border-radius: 0 15px 15px 0 !important;
                            background-color: rgba(0,0,0,0.3) !important;
                            border: 0 !important;
                            color: white !important;
                            cursor: pointer;
                        }

                        .search_btn {
                            border-radius: 0 15px 15px 0 !important;
                            background-color: rgba(0,0,0,0.3) !important;
                            border: 0 !important;
                            color: white !important;
                            cursor: pointer;
                        }

                        .contacts {
                            list-style: none;
                            padding: 0;
                        }

                            .contacts li {
                                width: 100% !important;
                                padding: 5px 10px;
                                margin-bottom: 15px !important;
                            }

                        .active {
                            background-color: rgba(0,0,0,0.3);
                        }

                        .user_img {
                            height: 70px;
                            width: 70px;
                            border: 1.5px solid #f5f6fa;
                        }

                        .user_img_msg {
                            height: 40px;
                            width: 40px;
                            border: 1.5px solid #f5f6fa;
                        }

                        .img_cont {
                            position: relative;
                            height: 70px;
                            width: 70px;
                        }

                        .img_cont_msg {
                            height: 40px;
                            width: 40px;
                        }

                        .online_icon {
                            position: absolute;
                            height: 15px;
                            width: 15px;
                            background-color: #4cd137;
                            border-radius: 50%;
                            bottom: 0.2em;
                            right: 0.4em;
                            border: 1.5px solid white;
                        }

                        .offline {
                            background-color: #c23616 !important;
                        }

                        .user_info {
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-left: 15px;
                        }

                            .user_info span {
                                font-size: 20px;
                                color: white;
                            }

                            .user_info p {
                                font-size: 10px;
                                color: rgba(255,255,255,0.6);
                            }

                        .video_cam {
                            margin-left: 50px;
                            margin-top: 5px;
                        }

                            .video_cam span {
                                color: white;
                                font-size: 20px;
                                cursor: pointer;
                                margin-right: 20px;
                            }

                        .msg_cotainer {
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-left: 10px;
                            border-radius: 25px;
                            background-color: #82ccdd;
                            padding: 10px;
                            position: relative;
                        }

                        .msg_cotainer_send {
                            margin-top: auto;
                            margin-bottom: auto;
                            margin-right: 10px;
                            border-radius: 25px;
                            background-color: #78e08f;
                            padding: 10px;
                            position: relative;
                        }

                        .msg_time {
                            position: absolute;
                            left: 0;
                            bottom: -15px;
                            color: rgba(255,255,255,0.5);
                            font-size: 10px;
                        }

                        .msg_time_send {
                            position: absolute;
                            right: 0;
                            bottom: -15px;
                            color: rgba(255,255,255,0.5);
                            font-size: 10px;
                        }

                        .msg_head {
                            position: relative;
                        }

                        #action_menu_btn {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            color: white;
                            cursor: pointer;
                            font-size: 20px;
                        }

                        .action_menu {
                            z-index: 1;
                            position: absolute;
                            padding: 15px 0;
                            background-color: rgba(0,0,0,0.5);
                            color: white;
                            border-radius: 15px;
                            top: 30px;
                            right: 15px;
                            display: none;
                        }

                            .action_menu ul {
                                list-style: none;
                                padding: 0;
                                margin: 0;
                            }

                                .action_menu ul li {
                                    width: 100%;
                                    padding: 10px 15px;
                                    margin-bottom: 5px;
                                }

                                    .action_menu ul li i {
                                        padding-right: 10px;
                                    }

                                    .action_menu ul li:hover {
                                        cursor: pointer;
                                        background-color: rgba(0,0,0,0.2);
                                    }

                        media(max-width: 576px) {
                            .contacts_card

                        {
                            margin-bottom: 15px !important;
                        }
                        }
                    </style>
























