@model web_project.Models.Contact

@{
    var userName = User.Identity.Name;
}

<!DOCTYPE HTML>

<!--
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>

<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>


    <script src="filename.js?version = 2.1"></script>
    <title>E-Learning system </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <link href="~/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Home/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Home/css/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>



<body class="landing">
    <!-- Header nav bar -->
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                @{
                    if (this.User.Identity.IsAuthenticated)
                    {
                        var role = this.User.Claims.ElementAt(3).Value;

                        if (role == "Admin")

                        {
                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                            <li><a href="#two">Chat</a></li>
                            <li><a href="#Materials">Materials</a></li>
                            <li><a asp-action="Index" asp-controller="Contacts">Masseges</a></li>
                        }
                        else if (role == "Student")
                        {
                            <li><a asp-action="Classes" asp-controller="Classes">Class</a></li>
                            <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                            <li><a href="#two">Chat</a></li>
                            <li><a href="#Materials">Materials</a></li>
                            <li><a href="#four">Masseges</a></li>
                        }
                        else if (role == "Teacher")
                        {
                            <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                            <li><a href="#two">Chat</a></li>
                            <li><a href="#Materials">Materials</a></li>
                            <li><a href="#four">Masseges</a></li>
                        }
                        <li>
                            <a asp-action="Profile" asp-controller="Users">
                                <i class='fas fa-user' style='font-size:15px'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@this.User.Identity.Name
                            </a>
                        </li>
                        <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-action="Index" asp-controller="Home" ali>Home</a></li>
                        <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                        <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                        <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                    }
                }
            </ul>

        </nav>
    </header>


    <!-- Banner -->
    <section id="banner" style="height:650px">
        <h2>"සිසු නැණ අධ්‍යාපනික වෙබ් අඩවිය"</h2>
        <p> </p>
        <ul class="actions">
            <li><a asp-controller="Home" asp-action="Index" class="button special big">Class Advertisements</a></li>
        </ul>
    </section>


    <!-- Three -->
    <section id="one" class="wrapper style1">
        <div class="container">
            <center>
                <header class="major special">

                    <font face="Forte" size="25" color="Black">Professional Teachers</font>
                    <p>Start your journey to a better life with online Teaching</p>
                </header>
            </center>

            <div class="feature-grid">
                <div class="feature">
                    <div class="image rounded">
                        <img src="~/images/author-image1.jpg" />
                    </div>
                    <div class="content">
                        <header>
                            <h4><b>Akila Senewirathna</b></h4>
                            <p>I love Teaching</p>
                        </header>
                        <p>"Teaching might even be the greatest of the arts since the medium is the human mind and spirit."<br />(John Steinbeck)</p>
                    </div>
                </div>

                <div class="feature">
                    <div class="image rounded"><img src="~/images/author-image2.jpg" /></div>
                    <div class="content">
                        <header>
                            <h4><b>Chandima Wijebandara</b></h4>
                            <p>Education is the key</p>
                        </header>
                        <p> "A teacher who is attempting to teach without inspiring the pupil with a desire to learn is hammering on cold iron."<br />(Horace Mann) </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="image rounded"><img src="~/images/author-image3.jpg" /></div>
                    <div class="content">
                        <header>
                            <h4><b>Chintha Wijesuriya</b></h4>
                            <p>I like Online Teaching</p>
                        </header>
                        <p>"Teaching is only demonstrating that it is possible. Learning is making it possible for yourself."<br />(Paulo Coelho) </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="image rounded"><img src="~/images/author-image4.jpg" /></div>
                    <div class="content">
                        <header>
                            <h4><b>Dilum Chanaka</b></h4>
                            <p>Teaching is fun</p>
                        </header>
                        <p>"Teachers have three loves: love of learning, love of learners, and the love of bringing the first two loves together."<br />(Scott Hayden) </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Banner -->
    <section id="Materials">
        <section id="banner">
            <font face="Forte" size="25" color="White"> Textbooks, Books, Links & Educational Martials </font>
            <p> "Libraries store the energy that fuels the imagination.<br /> They open up windows to the world and inspire us to explore and achieve, <br />and contribute to improving our quality of life."<br /></p>
            <p>[Sidney Sheldon]</p>

            <ul class="actions">
                <li><a asp-action="Materials" asp-controller="Classes" class="button special big">Books & Library</a></li>
            </ul>
        </section>
    </section>


    <!-- Student Chat -->
    <section id="two" class="wrapper style2 special">
        <div class="feature">
            <header class="major special">

                <font face="Forte" size="25" color="Black">
                    Students Chat
                </font>
                <p>Share your thoughts with each other</p>
            </header>
            <div class="container">
<<<<<<< HEAD






                @*<div class="jumbotron bg-light">
                    <h2 class="text-center text-primary">
                        <i class="fab fa-facebook-messenger"></i>&nbsp; Public Talk
                    </h2>

                    <div class="row">
                        <div class="col-md-12" id="chat">
                            @if (Model != null)
=======
                <div class="row">
                    <div class="col-md-12" id="chat">
                        @if (@ViewBag.data != null)
                        {
                            @foreach (var message in @ViewBag.data)
>>>>>>> fe8100fad68493a94139fd9afa583762c7372d98
                            {
                                @foreach (var Message in Model.OrderBy(m => m.When))
                                {
                                    string containerClass, timePosition, textAlign, contcolor, offset;
                                    if (userName == Message.UserName)
                                    {
                                        containerClass = "container darker";
                                        timePosition = "time-right text-light";
                                        textAlign = "text-right text-white";
                                        contcolor = "bg-primary";
                                        offset = "col-md-6 offset-md-6";
                                    }
                                    else
                                    {
                                        containerClass = "container";
                                        timePosition = "time-left";
                                        textAlign = "text-left";
                                        contcolor = "bg-light";
                                        offset = "";
                                    }

                                    <div class="row">
                                        <div class="@offset">
                                            <div class="@containerClass @contcolor">

                                                <p class="sender @textAlign">@message.UserName</p>
                                                <p class="@textAlign">@message.Text</p>
                                                <span class="@timePosition">@message.When.ToString("M/dd/yyyy hh:MM tt")</span>
                                            </div>
                                        </div>
<<<<<<< HEAD
                                    </div>}}
                        </div>
                        <div class="col-md-12">
                            <form asp-action="Create"
                                  data-ajax-begin="clearInputField" data-ajax-complete=""
                                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                                  data-ajax="true" data-ajax-method="POST">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input name="Text" class="form-control" id="messageText" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                                </div>
                                <input type="hidden" value="@userName" name="username" />
                            </form>
                        </div>
=======
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-md-12">
                        <form asp-action="Create"
                              data-ajax-begin="clearInputField" data-ajax-complete=""
                              data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                              data-ajax="true" data-ajax-method="POST">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input name="Text" class="form-control" id="messageText" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Send" id="submitButton" class="btn btn-outline-primary btn-block" />
                            </div>
                            <input type="hidden" value="@userName" name="username" />
                        </form>
>>>>>>> fe8100fad68493a94139fd9afa583762c7372d98
                    </div>

                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <script>
        const userName = "@ViewBag.CurrentUserName";
                    </script>
                }*@




            </div>
        </div>
    </section>




    <!-- Populer Classes -->

    <section id="three" class="wrapper style2 special">
        <div class="feature">
            <div class="major special">
                <font face="Forte" size="25" color="Black">
                    Populer Classes
                </font>
                <h3>Upgrade your skills with newest classes</h3>
                <br />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/courses-image3.jpg" class="img-fluid" alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/courses-image.jpg" class="img-fluid" alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/courses-image1.jpg" class="img-fluid" alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/courses-image2.jpg" class="img-fluid" alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/courses-image4.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/courses-image5.jpg" class="img-fluid"
                             alt="">
                        <a href="">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Message -->
    <section id="four" class="wrapper style3 special">
        <div class="container contact-form">
            <form enctype="multipart/form-data" asp-controller="Contacts" asp-action="Create">
                <font face="Forte" size="25" color="White">
                    Drop Us a Message
                </font>
                <br /><br />
                <div class="row">

                    <div class="col-md-6">

                        <div class="form-group">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="Email" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="Mobile" class="form-control" placeholder="Your Mobile *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" asp-for="Message" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">

        <div class="container text-center text-md-left mt-5">
            <div class="row mt-3 dark-grey-text">

                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <h6 class="text-uppercase font-weight-bold">Sisu-Nana Educational Platform</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        A website created with the aim of improving the level of student education and the interaction between teachers and students.
                    </p>

                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase font-weight-bold">features</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="#!">professional Teachers</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Educational Martials</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Student Chat</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="#!">Online Classes</a>
                    </p>

                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> info@example.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 01 234 567 89
                    </p>

                </div>
            </div>
        </div>
        <div class="footer-copyright text-center text-black-50 py-3">
            © 2020 Copyright:
            <a class="dark-grey-text" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>


    </footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>