@model IEnumerable<web_project.Models.Class>

@{
    ViewData["Title"] = "Teachers";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">

            <form asp-action="AddToClass">
                <td style="width:30px">
                    <img height="225" onclick="javascript: window.open('a')" width="215" src=~/@Html.DisplayFor(modelItem => item.Image) alt="" />
                    <br />

                 &nbsp  &nbsp  &nbsp  &nbsp @Html.DisplayFor(modelItem => item.Subject)
                    <br />
                    &nbsp  &nbsp  &nbsp  &nbsp @Html.DisplayFor(modelItem => item.Date) 
                    <br />
                      &nbsp  &nbsp  &nbsp  &nbsp  @Html.DisplayFor(modelItem => item.Time) 
                    <br />
                    <input type="hidden" value="@item.Id" asp-for="@Model.ElementAt(0).Id" />
                   
                    <div class="form-group" style="padding-top:0em">
                        <input style="width:110px ; " type="submit" value="Add" class="btn btn-primary" />
                    </div>
                    @{
                    
                     var role = this.User.Claims.ElementAt(3).Value;
                     if (role == "Studnet")
                        {
                            <div class="form-group" style="padding-top:0em">
                                <input style="width:110px ; " href="@item.Url" type="submit" value="Join" class="btn btn-primary" />
                            </div>

                        }
                        else if (role == "Admin")
                        {
                              <div class="form-group" style="padding-top:0em">
                                <input onclick="location.href='@item.Url';" style="width:110px ; " type="submit" value="Start" class="btn btn-primary" />
                            </div>
                        }
                    }
                  
                </td>
            </form>
            <form>
                <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="pk_test_51JGJUuCfmMrdpWDAZcK1b6r64r4T9WDg5Qc6PIf1yGX0qTNjBxBc1V8J78gdnAykAcvpj4NmBTF9NIF8uq0w32wR00uTkIhnG1"
                        data-name="Custom t-shirt"
                        data-description="Your custom designed t-shirt"
                        data-amount = "{{ORDER_AMOUNT}}"
                        data-currency="LKR">
                </script>
            </form>
        </div>
    }
</div>
