@*@model IEnumerable<web_project.Models.Class>

    @{
        ViewData["Title"] = "Index";
        Layout = "_Layout";
    }
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                      <img height="75" width="65" src=~/@Html.DisplayFor(modelItem => item.Image) alt="" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@



@model IEnumerable<web_project.Models.Class>

    <html>

    <head>
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>

        <script src="filename.js?version = 2.1"></script>


        <title>E-Learning system </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />

        <link href="~/Home/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Home/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Home/css/owl.carousel.css" rel="stylesheet" />
        <link href="~/Home/css/owl.theme.default.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <style>
            #grad1 {
                height: 1000px;
                background-color: red; /* For browsers that do not support gradients */
                background-image: linear-gradient(white, black);
                   }
        </style>

    </head>


    <body>
        <!-- Header nav bar -->
        <div id="grad1">
            
            <header id="header" class="alt">

                    <nav id="nav">
                        <ul>
                            @{
                                if (this.User.Identity.IsAuthenticated)
                                {
                                    var role = this.User.Claims.ElementAt(3).Value;

                                    if (role == "Admin")

                                    {
                                        <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                                        <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                        <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                                        <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                                    }
                                    else if (role == "Student")
                                    {
                                        <li> <a asp-controller="Home" asp-action="Index"> Home </a> </li>
                                        <li><a asp-action="Classes" asp-controller="Classes">Class</a></li>
                                        <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                        <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                                        <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                                    }
                                    else if (role == "Teacher")
                                    {
                                        <li> <a asp-controller="Home" asp-action="Index"> Home </a> </li>
                                        <li><a asp-action="Students" asp-controller="Users">Students</a></li>
                                        <li><a asp-action="Index" asp-controller="Classes">Class</a></li>
                                        <li><a asp-action="Teachers" asp-controller="Users">Teachers</a></li>
                                        <li><a asp-action="Index" asp-controller="Classes">Materials</a></li>
                                    }
                                    <li>
                                        <a asp-action="Profile" asp-controller="Users">
                                            <i class='fas fa-user' style='font-size:17px'></i>&nbsp;@this.User.Identity.Name
                                        </a>
                                    </li>
                                    <li><a asp-action="LogOut" asp-controller="Users">Logout</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="CreateStudent" asp-controller="Users">Register Student</a></li>
                                    <li><a asp-action="CreateTeacher" asp-controller="Users">Register Teacher</a></li>
                                    <li><a asp-action="ViewLogIn" asp-controller="Home">LogIn</a></li>
                                }
                            }
                        </ul>

                    </nav>
            </header>
            <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


            <!-- Banner -->
            <section id="three" class="wrapper style1">
                <div class="container">
                    <p>
                        <a asp-action="Create">Add New Class Details</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Teacher)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Grade)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subject)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Time)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Teacher)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Time)
                                    </td>
                                    <td>
                                        @*<img height="75" width="65" src=~/@Html.DisplayFor(modelItem => />*@
                                    </td>*
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>

               </div>

    </body>
</html>






